.btn-container {
    display: flex;

    border-radius: 1px;
    border-color: $green;
}

.btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 3.2rem;

    font-weight: 500;
    font-size: 1.6rem;

    color: $green;
    background-color: $white;
    border-color: $green;

    z-index: 2;

    transition: background 0.05s linear;

    &:hover {
        background-color: $green-light;
        color: $white;
        .icon--card {
            fill: $white;
        }
    }
}

.btn-group > .btn {
    border-radius: 0 0 4px 4px;
    border: 0;
}
