.card-list {
    font-size: 1.6rem;

    *:last-child {
        padding: 0;
    }
}

.card-list li {
    padding: 0.8rem 0rem;
}

.card-list__link {
    padding: 0.8rem 0;
    color: $green;

    @include link-hover($green);

    &:hover {
        text-decoration: underline;
    }
}
