.header {
    background-color: $black;
}

.header__inner {
    align-items: center;
    justify-content: center;

    padding: 0.5rem 0;
}

.header__logo {
    display: flex;

    @media (max-width: $breakpoints_md) {
        justify-content: center;
        margin-bottom: 0.8rem;
    }
}
