.icon {
    width: 2.4rem;
    height: 2.4rem;

    margin-right: 0.8rem;

    fill: $white;
}

.icon--green {
    width: 2.4rem;
    height: 2.4rem;

    margin-right: 0.8rem;
    fill: $green;
}

.icon--logo {
    display: flex;
    align-items: center;

    aspect-ratio: auto 111 / 30;
    height: 66px;
}
