.nav {
    display: flex;
    justify-content: flex-end;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
}

.nav__link {
    padding: 2rem 1.6rem;

    color: $grey;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.1s linear;

    &:hover {
        // color: $white;

        background-color: black;
        color: $green;
    }
}
