.nav {
    display: flex;
    justify-content: center;

    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;

    @media (max-width: $breakpoints_md) {
        margin-bottom: 0.8rem;
    }

    @media (max-width: 375px) {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.nav__link {
    padding: 0.8rem 1.6rem;
    color: $grey;
    text-decoration: none;

    &:hover {
        color: $white;
        cursor: pointer;
    }

    &.active {
        color: $white;
    }
}

.nav__btn {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $breakpoints_md) {
        justify-content: center;
        margin-bottom: 0.8rem;
    }

    .btn {
        background-color: $black;
        border-color: $green;
    }
}
