.nav {
	display: flex;
	align-self: flex-end;

	font-size: 1.6rem;
	font-weight: 400;
}

.nav__link {
	padding: 2rem 1.6rem;

	color: $white;
	text-decoration: none;

	transition: background 0.1s linear;

	&:hover {
		// background-color: $green;
		border-bottom: 2px solid $green-light;
		color: $green-light;
	}

	&.active {
		border-bottom: 2px solid $green-light;
	}
}
