.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: $black;

    // position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.navbar > .container {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}
