.navbar {
    background-color: $black;
}

.navbar__logo {
    display: flex;

    @media (max-width: $breakpoints_md) {
        justify-content: center;
        margin-bottom: 0.8rem;
    }
}

.navbar__collapse {
    justify-content: flex-end;
}
