<!DOCTYPE html>
<html lang="ru">
    <head>
        {{> head}}
    </head>
    <body>
        <div class="page">
            {{> navbar }}
            <!-- content -->
            {{> body}}
            <!-- footer -->
            {{> footer}}
        </div>
        <!-- js files -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>

        <script src="assets/js/app.min.js"></script>
    </body>
</html>
