<!-- cards -->
<section class="cards">
	<div class="container">
		<div class="row">
			<h1 class="cards__title col-lg-12">Коллекция</h1>
		</div>
		<!-- cards__row -->
		<div class="cards__row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		

			<div class="col">
				<div class="card">
					

					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/stone2.png" alt="" />
						<h2 class="card__title">Эпигранит</h2>
					
					</a>

					<div class="card__body">

						<div class="btn-group btn-container" role="group" aria-label="Basic outlined example">
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							
							<a class="btn">
							<svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
							
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					

					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/stone2.png" alt="" />
						<h2 class="card__title">Эпигранит</h2>
					
					</a>

					<div class="card__body">

						<div class="btn-group btn-container" role="group" aria-label="Basic outlined example">
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							
							<a class="btn">
							<svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
							
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					

					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/stone.jpg" alt="" />
						<h2 class="card__title">Эпигранит</h2>
					
					</a>

					<div class="card__body">

						<div class="btn-group btn-container" role="group" aria-label="Basic outlined example">
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							
							<a class="btn">
							<svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
							
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					

					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/stone2.png" alt="" />
						<h2 class="card__title">Эпигранит</h2>
					
					</a>

					<div class="card__body">

						<div class="btn-group btn-container" role="group" aria-label="Basic outlined example">
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							
							<a class="btn">
							<svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							
							<a class="btn"><svg class="icon--card" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
							
						</div>
					</div>
				</div>
			</div>

	</div> <!-- ./cards__row -->
</section> <!-- ./cards -->

