<!-- header -->
<header class="header">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<a href="#" class="logo"></a>
				</div>
				<div class="col-lg-4">sdgsgd</div>
				<div class="col-lg-5">
					<div class="nav">
						<a class="nav__link active" href="#">Главная</a>
						<a class="nav__link" href="#">Изучение</a>
						<a class="nav__link" href="#">О сайте</a>
						<a class="nav__link" href="#">Войти</a>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
</header>
<!-- /.header -->
