<!-- Header -->
<header class="header">
    <div class="container">
        <!-- header__inner -->
      
            <div class="row header__inner">
                <div class="col-md-4 col-lg-2 header__logo">
                    <a  href="#">
                        <svg class="icon--logo">
                            <use
                                href="/assets/sprite/sprite.svg#logo"
                            ></use></svg
                    ></a>
                </div>
                <div class="col-md-6 col-lg-8">
                    <nav class="nav">
                        <a class="nav__link active href="#" ">Главная</a>
                        <a class="nav__link href="#" ">Изучение</a>
                        <a class="nav__link href="#" ">О нас</a>
                    </nav>
                </div>
                <div class="col-10 col-md-2 nav__btn"><a class="btn btn_nav" href="">
                    <svg class="icon--green">
                        <use href="/assets/sprite/sprite.svg#login"></use>
                    </svg>
                    Войти</a></div>
            </div>
        <!-- ./header__inner -->
    </div>
</header>
<!-- /.Header -->

