<!-- navbar -->
<nav class="navbar">
    <div class="container nav">
        <a href="#" class="navbar__logo col-md-3">
            <svg class="icon--logo">
                <use href="/assets/sprite/sprite.svg#logo"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto">
            <li><a class="nav__link active" href="#">Главная</a></li>
            <li><a class="nav__link" href="#">Изучение</a></li>
            <li><a class="nav__link" href="#">О сайте</a></li>
        </ul>

        <a class="btn col-md-2" href="">Войти</a>
    </div>
</nav>
<!-- /.navbar -->
