<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- rock-card -->
                <article class="rock-card">
                    <!-- rock-img -->
                    <div class="row rock-card__top justify-content-center">
                        <div class="rock-card__img col-sm-12 col-md-7">
                            <img
                                class="img"
                                src="/assets/img/Epigranite_Isle-of-Skye.jpg"
                                alt=""
                            />
                        </div>

                        <div class="rock-card__btn col-12 col-sm-12 col-md-5">
                            <a class="btn btn_rock-card" href="">
                                <svg class="icon--green">
                                    <use
                                        href="/assets/sprite/sprite.svg#biotech"
                                    ></use>
                                </svg>
                                Микроскоп</a
                            >
                            <a class="btn btn_rock-card" href="">
                                <svg class="icon--green">
                                    <use
                                        href="/assets/sprite/sprite.svg#360"
                                    ></use>
                                </svg>
                                Поворот</a
                            >
                        </div>
                    </div>
                    <!-- /. rock-img -->

                    <!-- rock-info -->
                    <div class="row rock-card__main">
                        <div class="rock-card__details order-sm-2 col-sm-5">
                            <h1>Детали</h1>
                            <ul class="card-list list-group list-group-flush">
                                <li class="list-group-item">
                                    Тип:
                                    <a class="card-list__link" href="#"
                                        >магматический</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Категория:
                                    <a class="card-list__link" href="#"
                                        >гранит</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Породообразующие минералы:
                                    <a class="card-list__link" href="#"
                                        >биотит отоклаз плагиоклаз шпат кварц</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="rock-card__info order-sm-1 col-sm-7">
                            <h1>Название</h1>
                            <p class="rock-card__text">
                                Этот эпигранит происходит из озера Лох-Айнорт на
                                острове Скай. Он в основном состоит из кварца,
                                щелочного полевого шпата и полевого шпата
                                плагиоклаза. Наиболее распространенным
                                ферромагнезиальным минералом является
                                феррохеденбергит (член группы амфиболов) - см.
                                Вращение 1, вместе с оксидами Fe-Ti, алланитом,
                                апатитом и биотитом. Вторичные продукты включают
                                эпидот и хлорит (заменяющий биотит).
                            </p>
                            <p class="rock-card__text">
                                Этот эпигранит происходит из озера Лох-Айнорт на
                                острове Скай. Он в основном состоит из кварца,
                                щелочного полевого шпата и полевого шпата
                                плагиоклаза. Наиболее распространенным
                                ферромагнезиальным минералом является
                                феррохеденбергит (член группы амфиболов) - см.
                                Вращение 1, вместе с оксидами Fe-Ti, алланитом,
                                апатитом и биотитом. Вторичные продукты включают
                                эпидот и хлорит (заменяющий биотит).
                            </p>
                        </div>
                    </div>
                    <!-- /. rock-info -->
                </article>
                <!-- /. rock-card -->
            </div>
        </div>
    </div>
</section>
