{{> breadcrumb}}

<!-- Rock -->
<section class="rock">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- rock -->
                <article class="rock__card">
                    <!-- rock__img -->
                    <div class="row rock__top justify-content-center">
                        <div class="rock__img col-sm-12 col-md-7">
                            <img
                                class="img"
                                src="/assets/img/Epigranite_Isle-of-Skye.jpg"
                                alt=""
                            />
                        </div>

                        <div class="rock__launch-btn col-12 col-sm-12 col-md-5">
                            <div class="rock__text rock__text--gray">
                                Посмотреть тонкий срез образца
                            </div>

                            <a class="btn btn_rock" href="">
                                <svg class="icon">
                                    <use
                                        href="/assets/sprite/sprite.svg#biotech"
                                    ></use>
                                </svg>
                                Микроскоп</a
                            >
                            <div class="rock__text rock__text--gray">
                                Посмотреть поворот образца
                            </div>
                            <a class="btn btn_rock" href="">
                                <svg class="icon">
                                    <use
                                        href="/assets/sprite/sprite.svg#360"
                                    ></use>
                                </svg>
                                Поворот</a
                            >
                        </div>
                    </div>
                    <!-- /. rock__img -->

                    <!-- rock__info -->
                    <div class="row rock__main">
                        <!-- rock__details -->
                        <div class="rock__details order-sm-2 col-sm-5">
                            <h1 class="rock__title">Детали</h1>
                            <ul class="card-list list-group list-group-flush">
                                <li class="list-group-item">
                                    Тип:
                                    <a class="card-list__link" href="#"
                                        >магматический</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Категория:
                                    <a class="card-list__link" href="#"
                                        >гранит</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Породообразующие минералы:
                                    <a class="card-list__link" href="#"
                                        >биотит отоклаз плагиоклаз шпат кварц</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Породообразующие минералы:
                                    <a class="card-list__link" href="#"
                                        >биотит отоклаз плагиоклаз шпат кварц</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Породообразующие минералы:
                                    <a class="card-list__link" href="#"
                                        >биотит отоклаз плагиоклаз шпат кварц</a
                                    >
                                </li>
                                <li class="list-group-item">
                                    Породообразующие минералы:
                                    <a class="card-list__link" href="#"
                                        >биотит отоклаз плагиоклаз шпат кварц</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <!-- ./ rock__details -->
                        <div class="rock__info order-sm-1 col-sm-7">
                            <h1 class="rock__title">Название</h1>
                            <p class="rock__text">
                                Этот эпигранит происходит из озера Лох-Айнорт на
                                острове Скай. Он в основном состоит из кварца,
                                щелочного полевого шпата и полевого шпата
                                плагиоклаза. Наиболее распространенным
                                ферромагнезиальным минералом является
                                феррохеденбергит (член группы амфиболов) - см.
                                Вращение 1, вместе с оксидами Fe-Ti, алланитом,
                                апатитом и биотитом. Вторичные продукты включают
                                эпидот и хлорит (заменяющий биотит).
                            </p>
                            <p class="rock__text">
                                Этот эпигранит происходит из озера Лох-Айнорт на
                                острове Скай. Он в основном состоит из кварца,
                                щелочного полевого шпата и полевого шпата
                                плагиоклаза. Наиболее распространенным
                                ферромагнезиальным минералом является
                                феррохеденбергит (член группы амфиболов) - см.
                                Вращение 1, вместе с оксидами Fe-Ti, алланитом,
                                апатитом и биотитом. Вторичные продукты включают
                                эпидот и хлорит (заменяющий биотит).
                            </p>
                        </div>
                    </div>
                    <!-- /. rock__info -->
                </article>
                <!-- /. rock -->
            </div>
        </div>
    </div>
</section>
<!-- ./ Rock -->
