$white: #fff;
$green: #6fa53b;
$green-light: #c5eaa1;
$black: #262626;
$grey: #9e9e9e;
$grey-light: hsl(210, 14%, 89%);
$radius: 4px;
$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

// $spacer: 1rem;
// $spacers: ();
// $spacers: map-merge(
//     (
//         0: 0,
//         1: (
//             $spacer * 0.25,
//         ),
//         2: (
//             $spacer * 0.5,
//         ),
//         3: $spacer,
//         4: (
//             $spacer * 1.5,
//         ),
//         5: (
//             $spacer * 10,
//         ),
//     ),
//     $spacers
// );

// $grid-breakpoints: (
//     // Extra small screen / phone
//     xs: 0,
//     // Small screen / phone
//     sm: 576px,
//     // Medium screen / tablet
//     md: 768px,
//     // Large screen / desktop
//     lg: 992px,
//     // Extra large screen / wide desktop
//     xl: 1200px
// );

// $breakpoints_xs: 0; // 0-576px
// $breakpoints_xm: 432px; // 435px-576
// $breakpoints_sm: 576px; // 576px-768
// $breakpoints_md: 768px; // 768px-992
// $breakpoints_lg: 992px; // 992-1200
// $breakpoints_xl: 1200px; // 1200-...

// $container-max-widths: (
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
// );
